.hired{
    margin-top: 15%;
}
.hired-models{
    margin-top: 30%;
}

.selected-img{
    max-width: 35px;
    border-radius: 10px;
    margin-right: 5%;
    
}
.selected-profile{
    background-color: bisque;
    display: flex;
    margin-bottom: 5%;
    border-radius: 10px;
}