.profile-card{
    background-color: #9df0bb;
    border-radius: 20px;
    max-width: 240px;
    padding: 25px;
    margin-bottom: 20px; 
    
}
.profile-card:hover{
    background-color: #6df8a0;
}
.profile-card img{
    max-height: 200px;
    border-radius: 20px;
    text-align: center;
    margin-left: 20%;
    
}
p{
    font-weight: 500;
    margin:0.3em ;
}
.name{
    color: rgb(57, 120, 255);
}
.hire-btn{
    background-color: #e4c04d;
    width: 130px;
    height: 30px;
    border: 1px solid #b6922f;
    border-radius: 5px;
    cursor: pointer;
}
.social-icon{
    display: flex;
    background-color: transparent;
}
.icon{
    margin-right: 20%;
    
}
.cart-top{
    margin-top: 15%;
    
}
